.main
{
  color: white;
  height: 100%;
  background: linear-gradient(var(--gradient-color-top) 0%, var(--gradient-color-bottom) 25%, var(--gradient-color-bottom) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3% 7%;
}

.title
{
  display: flex;
  padding: 5% 0% 0%;
}

.heading
{
  font-size: 3.5rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.register 
{
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  margin: auto;
  margin-right: 0;
  padding: .8% 1.6%;
  border-radius: .1em;
}

.aboutTitle
{
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.aboutContent
{
  font-weight: 200;
  text-justify: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
  margin-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

.detailsTitle
{
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

.roundsTitle
{
  font-weight: 300;
  font-size: 1.8rem;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

.roundsContent
{
  font-weight: 200;
  text-justify: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
  margin-top: 40px;
  margin-left: 4%;
  font-family: 'Roboto Condensed', sans-serif;
}

.contactsTitle
{
  font-weight: 500;
  font-size: 1.8rem;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}

.contentsContent
{
  font-weight: 200;
  text-justify: auto;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.2rem;
  margin-top: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (max-width: 700px) 
{
    .main
    {
        color: white;
        height: 100%;
        background: linear-gradient(var(--gradient-color-top) 0%, var(--gradient-color-bottom) 25%, var(--gradient-color-bottom) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 15% 7%;
    }
    .title
    {
        display: block;
    }
    .heading
    {
        font-size: 1.8rem;
        text-align: center;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
    }

    .register 
    {
        background: var(--primary-color);
        color: #fff;
        text-decoration: none;
        position: absolute;
        padding: .5%, 1%;
        left: 50%;
        margin-top: 23px;
        margin-left: -30px;
    }

    .aboutTitle
    {
        font-weight: 300;
        font-size: 1.3rem;
        margin-top: 60px;
        font-family: 'Montserrat', sans-serif;
    }

    .aboutContent
    {
        font-weight: 200;
        text-justify: auto;
        text-align: justify;
        text-justify: inter-word;
        font-size: 1rem;
        margin-top: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .detailsTitle
    {
        font-weight: 300;
        font-size: 1.3rem;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
    }

    .roundsTitle
    {
        font-weight: 300;
        font-size: 1.3rem;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
    }

    .roundsContent
    {
        font-weight: 200;
        text-justify: auto;
        text-align: justify;
        text-justify: inter-word;
        font-size: 1rem;
        margin-top: 20px;
        margin-left: 8%;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .contactsTitle
    {
        font-weight: 300;
        font-size: 1.3rem;
        margin-top: 30px;
        font-family: 'Montserrat', sans-serif;
    }

    .contentsContent
    {
        font-weight: 200;
        text-justify: auto;
        text-align: justify;
        text-justify: inter-word;
        font-size: 1rem;
        margin-top: 20px;
        font-family: 'Roboto Condensed', sans-serif;
    }

}

@media only screen and (min-width: 1000px) 
{
    .main
    {
        color: white;
        height: 100%;
        background: linear-gradient(var(--gradient-color-top) 0%, var(--gradient-color-bottom) 25%, var(--gradient-color-bottom) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 13% 7%;
    }
}
@media only screen and (min-width: 639px) 
{
    .main
    {
        color: white;
        height: 100%;
        background: linear-gradient(var(--gradient-color-top) 0%, var(--gradient-color-bottom) 25%, var(--gradient-color-bottom) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 5% 7%;
    }
}

/* @media only screen and (max-width: 600px) 
{
  .title
  {
    display: flex;
  }
  .heading
  {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }
} */
