
#hero {
    width: 100%;
    height: 300px;
    background-color: burlywood;
}

#cards {
    background-color: #20202d;
    padding: 5%;
    .cards-content {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5rem;
        row-gap: 6rem;
        justify-content: center;
        .event-card {
            width: 21rem;
            .event-img {
                img {
                    border-radius: 8px 8px 0 0;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .card-details {
                background-color: white;
                padding: 10%;
                border-radius: 0 0 8px 8px;
                h4 {
                    font-family: "Montserrat", sans-serif;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
                p {
                    text-align: justify;
                    margin-bottom: 2rem;
                    line-height: 1.4rem;
                }
                a {
                    padding: 2.9% 10%;
                    width: 29%;
                    text-align: center;
                    text-decoration: none;
                    background-color: #009acf;
                    font-size: 1.1rem;
                    color: white;
                    letter-spacing: 1px;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 568px) {
    #cards{
        padding: 15% 5% !important;
    }
    .cards-content {
        row-gap: 2rem !important;
        .event-card {
            width: 270px !important;
            .card-details {
                padding: 8% 10% !important;
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 0.6rem !important;
                }
                p {
                    margin-bottom: 1rem !important;
                    line-height: 1.1rem !important;
                    font-size: 0.8rem;
                }
                a {
                    padding: 2.5% 6% !important;
                    font-size: .9rem !important;
                }
            }
        }
    }
}

@media screen and (min-width: 569px) and (max-width: 750px) {
    #cards{
        padding: 8% 5% !important;
    }
    .cards-content {
        column-gap: 3rem !important;
        row-gap: 4rem !important;
        .event-card {
            width: 250px !important;
            .card-details {
                padding: 6% 10% !important;
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 0.6rem !important;
                }
                p {
                    margin-bottom: 1rem !important;
                    line-height: 1.1rem !important;
                    font-size: 0.8rem;
                }
                a {
                    width: 25% !important;
                    padding: 3% 6% !important;
                    font-size: .9rem !important;
                }
            }
        }
    }
}

@media screen and (min-width: 751px) and (max-width: 1025px) {
    #cards{
        padding: 8% 5% !important;
    }
    .cards-content {
        column-gap: 3rem !important;
        row-gap: 3rem !important;
        .event-card {
            width: 250px !important;
            .card-details {
                padding: 7% 10% !important;
                h4 {
                    font-size: 1.5rem;
                    margin-bottom: 0.6rem !important;
                }
                p {
                    margin-bottom: .8rem !important;
                    line-height: 1.1rem !important;
                    font-size: 0.8rem;
                }
                a {
                    width: 25% !important;
                    padding: 2.5% 5% !important;
                    font-size: .8rem !important;
                }
            }
        }
    }
}
